.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  box-sizing: border-box;
  gap: 1px;
}

.shikak {
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0 0 0 1px black;
  transition: all 0.2s;

  &__selected {
    box-shadow: 0 0 0 1px red;
    background: rgb(255 0 0 / 50%);
    z-index: 1;
  }
}
