$columns: 12;
$width: 90vw;

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(15, auto);
  box-shadow: 0 0 0 1px lightgrey;
  position: relative;
}

.block {
  aspect-ratio: 1/1;
  box-shadow: 0 0 0 1px lightgrey inset;
  transition: all 0.2s;
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;

  &__selected {
    box-shadow: 0 0 0 1px red;
    background: rgb(255 0 0 / 50%);
    z-index: 1;
  }
}
